body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  header{
      background: #000;
      padding: 20px;
  }
  h1{
      color: #ffffff;
      text-align: center;
  }
  nav {
      background-color: grey;
      padding: 10px;
  }
  nav a{
      color: #ffffff;
  }
  .main-content,
  .sidebar {
    display: inline-block;
    width: 48%;
    box-sizing: border-box;
    vertical-align: top;
    margin: 10px;
  }
  .main-content {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
  }
  
  .sidebar {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
  }
  footer{
      background-color: #000;
      padding: 20px;
      color: #ffffff;
      text-align: center;
  }
  